* I_F.ALI.FT.TEMPLATE Created 02 SEP 26 by MASAREF/NASF
*     PREFIX[AL.FT]
              EQU AL.FT.TXN.TYPE TO 1,          AliFtTemplate_TxnType TO 1,
                  AL.FT.DEBIT.ACC TO 2,         AliFtTemplate_DebitAcc TO 2,
                  AL.FT.DEBIT.CUR TO 3,         AliFtTemplate_DebitCur TO 3,
                  AL.FT.DEBIT.AMT TO 4,         AliFtTemplate_DebitAmt TO 4,
                  AL.FT.CREDIT.ACC TO 5,        AliFtTemplate_CreditAcc TO 5,
                  AL.FT.RESERVED1 TO 6,         AliFtTemplate_Reserved1 TO 6,
                  AL.FT.RESERVED2 TO 7,         AliFtTemplate_Reserved2 TO 7,
                  AL.FT.RESERVED3 TO 8,         AliFtTemplate_Reserved3 TO 8,
                  AL.FT.RESERVED4 TO 9,         AliFtTemplate_Reserved4 TO 9,
                  AL.FT.RESERVED5 TO 10,        AliFtTemplate_Reserved5 TO 10,
                  AL.FT.RESERVED6 TO 11,        AliFtTemplate_Reserved6 TO 11,
                  AL.FT.RESERVED7 TO 12,        AliFtTemplate_Reserved7 TO 12,
                  AL.FT.LOCAL.REF TO 13,        AliFtTemplate_LocalRef TO 13,
                  AL.FT.OVERRIDE TO 14,         AliFtTemplate_Override TO 14,
                  AL.FT.RECORD.STATUS TO 15,    AliFtTemplate_RecordStatus TO 15,
                  AL.FT.CURR.NO TO 16,          AliFtTemplate_CurrNo TO 16,
                  AL.FT.INPUTTER TO 17,         AliFtTemplate_Inputter TO 17,
                  AL.FT.DATE.TIME TO 18,        AliFtTemplate_DateTime TO 18,
                  AL.FT.AUTHORISER TO 19,       AliFtTemplate_Authoriser TO 19,
                  AL.FT.CO.CODE TO 20,          AliFtTemplate_CoCode TO 20,
                  AL.FT.DEPT.CODE TO 21,        AliFtTemplate_DeptCode TO 21,
                  AL.FT.AUDITOR.CODE TO 22,     AliFtTemplate_AuditorCode TO 22,
                  AL.FT.AUDIT.DATE.TIME TO 23,  AliFtTemplate_AuditDateTime TO 23
